html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

.container::after, .row::after {
  display: block;
  content: '';
  clear: both; }

* {
  box-sizing: border-box; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1366px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row > [class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px; }

.row-no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .row-no-gutters > [class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

/* Grid for all screen
 * Ex: col-1, col-2 */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Grid for screen min-width: $small
 * Ex: col-small-1, col-small-2 */
@media (min-width: 480px) {
  .col-small-1 {
    width: 8.33333%; }
  .col-small-2 {
    width: 16.66667%; }
  .col-small-3 {
    width: 25%; }
  .col-small-4 {
    width: 33.33333%; }
  .col-small-5 {
    width: 41.66667%; }
  .col-small-6 {
    width: 50%; }
  .col-small-7 {
    width: 58.33333%; }
  .col-small-8 {
    width: 66.66667%; }
  .col-small-9 {
    width: 75%; }
  .col-small-10 {
    width: 83.33333%; }
  .col-small-11 {
    width: 91.66667%; }
  .col-small-12 {
    width: 100%; } }

/* Grid for screen min-width: $medium
 * Ex: col-medium-1, col-medium-2 */
@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33333%; }
  .col-medium-2 {
    width: 16.66667%; }
  .col-medium-3 {
    width: 25%; }
  .col-medium-4 {
    width: 33.33333%; }
  .col-medium-5 {
    width: 41.66667%; }
  .col-medium-6 {
    width: 50%; }
  .col-medium-7 {
    width: 58.33333%; }
  .col-medium-8 {
    width: 66.66667%; }
  .col-medium-9 {
    width: 75%; }
  .col-medium-10 {
    width: 83.33333%; }
  .col-medium-11 {
    width: 91.66667%; }
  .col-medium-12 {
    width: 100%; } }

/* Grid for screen min-width: $large
 * Ex: col-large-1, col-large-2 */
@media (min-width: 1024px) {
  .col-large-1 {
    width: 8.33333%; }
  .col-large-2 {
    width: 16.66667%; }
  .col-large-3 {
    width: 25%; }
  .col-large-4 {
    width: 33.33333%; }
  .col-large-5 {
    width: 41.66667%; }
  .col-large-6 {
    width: 50%; }
  .col-large-7 {
    width: 58.33333%; }
  .col-large-8 {
    width: 66.66667%; }
  .col-large-9 {
    width: 75%; }
  .col-large-10 {
    width: 83.33333%; }
  .col-large-11 {
    width: 91.66667%; }
  .col-large-12 {
    width: 100%; } }

/* Grid for screen min-width: $largest
 * Ex: col-largest-1, col-largest-2 */
@media (min-width: 1280px) {
  .col-largest-1 {
    width: 8.33333%; }
  .col-largest-2 {
    width: 16.66667%; }
  .col-largest-3 {
    width: 25%; }
  .col-largest-4 {
    width: 33.33333%; }
  .col-largest-5 {
    width: 41.66667%; }
  .col-largest-6 {
    width: 50%; }
  .col-largest-7 {
    width: 58.33333%; }
  .col-largest-8 {
    width: 66.66667%; }
  .col-largest-9 {
    width: 75%; }
  .col-largest-10 {
    width: 83.33333%; }
  .col-largest-11 {
    width: 91.66667%; }
  .col-largest-12 {
    width: 100%; } }

/* --flex--- */
.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center; }
  .flex > [class*="-row"] {
    flex-direction: row; }
  .flex > [class*="-col"] {
    flex-direction: column; }
.flex-row{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
}
.flex-col{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
}
/*--Dropdown--*/
.dropdown{
  position: relative;
  display: inline-block;
  z-index: 9999;
}
.dropdown-content{
  position: absolute;
  background-color: aliceblue;
  color: #000000;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2em);
  z-index: 9999;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 6px;
}
.dropdown:hover .dropdown-content{
  display: inline-block;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}

/*--Menu--*/
.main-menu [class*="menu"] {
  float: left; }

.menu, .menu-right {
  transition: 0.3s;
  padding-right: 30px;
  text-align: center; }

.menu-right {
  float: right; }
a{
  text-decoration: none;
  color: #000000;
}
/** Generated by FG **/
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto.eot');
  src: url('../fonts/roboto.woff') format('woff'),
  url('../fonts/roboto.ttf') format('truetype'), url('../fonts/roboto.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
  /* color: #ccc; */
  max-width: 1366px;
  font-family: 'Roboto', sans-serif;
}
header{
    height: auto;
  }
main{
    height: auto;
  }
footer{
    height: auto;
  }
nav{
    border-top: 1px solid rgb(178, 149, 149);
  }
.header-top{
  line-height: 30px ;
}
.header-bottom li{
  padding-right: 20px;
}
.header-top .row{
  padding: 20px;
}
.header-top img {
  padding-right: 20px;
}
.header-top span{
  color: #62c6f8;
}
nav {
  vertical-align:middle;
  text-align: center;
}
.menu{
  border-right: 1px solid rgb(178, 149, 149);
}
nav .main-menu a{
  padding-left: 10px;
  color: #8e8e8e;
  line-height: 50px;
}
.main-menu a:hover{
  color: #62c6f8;
}
.btn-icon{ 
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #000000;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
}
.btn-icon .fa-facebook{
  color: #344c8a;
}
.btn-icon .fa-google-plus{
  color: #FD2F08;
}
.btn-icon .fa-youtube{
  color: #FF0000;
}
.menu-right li{
  padding-top: 10px;
}
.page-content {
  padding-top: 40px;
}
.page-banner img{
 width: 100%;
}
aside h2 {
  padding: 20px;
  background-color: #d9e4e9;
}
aside .flex-col{
  padding: 20px;
  font-size: 16px;
}
aside .list{
  list-style: circle;
  line-height: 30px;
}
.form{
  background-color: #d9e4e9;
  margin-top: 20px;
}
.form .flex-col{
  padding-top: 0px;
}
.form h2::after{
  content: "";
  border-top: 2px solid #62c6f8;
  width: 70px;
  display: block;
  margin-top: 20px;
}
.form input{
  padding: 10px;
  margin-top: 10px;
  width:  250px;
  outline: none;
}
.form button{
  margin-top: 20px;
  padding: 7px 20px 7px 20px;
  font-size: 12px;
  font-weight: 800;
  align-self: center;
  background-color: #4bbc56;
  color: aliceblue;
  outline: none;
  border: 0px;
}
.service .flex-row{
 justify-content: space-between;
 margin: 0px;
}
.block-service{
  box-sizing: border-box;
  width: 295px;
}
.block-service > h2{
  line-height: 30px;
  text-align: center;
}
.block-service p{
  line-height: 20px;
}
.block-service a{
  font-size: 20px;
  padding: 5px;
  background-color: #62c6f8;
  float: right;
}
.block-service a:hover{
  color: aliceblue;
}
.service > .flex-row{
  padding-bottom: 20px;
}
.page-footer{
  background-color: #62c6f8;
  color: aliceblue;
}
.footer-top{
  padding: 20px;
}
.footer-top h2{
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-top li{
  line-height: 40px;
  list-style: circle;
}
.footer-top a{
  color: aliceblue;
}
.footer-top ul li:hover{
  transform: translateX(10px);
  transition: 0.2s;
}
.footer-top a:hover{
  color: #000000;
}
.footer-top .btn-icon{
  float: left;
  margin-right: 20px;
}
.footer-bottom{
  padding: 20px;
  border-top: 1px solid aliceblue;
}
.footer-bottom ul{
  justify-content: space-between;
}
.dropdown{
  position: relative;
  display: inline-block;
  z-index: 9999;
}
.dropdown-content{
  position: absolute;
  background-color: aliceblue;
  color: #000000;
  padding: 10px;
  visibility: hidden;
  transform: translateY(-2em);
  z-index: 9999;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 6px;
}
.dropdown:hover .dropdown-content{
  display: inline-block;
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}
nav .dropdown-content{
  top: 50px;
  left: 0px;
  line-height: 30px;
}
nav .dropdown-content{
  width: 400px;
}
nav .flex-row ul{
  float: left;
  padding: 10px;
}
.service img:hover {
  content: "";
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s;
}
a:hover{
  color: #62c6f8;
}
.block-service a:nth-child(1){
  /* padding: 0px 0px 0px 0px; */
  background-color: aliceblue;
}
.block-service:hover h2{
  color: #62c6f8;
}
.dropdown-level2{
  position: relative;
}
.dropdown-content-level2{
  visibility: hidden;
  position: absolute;
  top: -10px;
  right: -120px;
  background-color: aliceblue;
  border: 1px solid #000000;
  padding: 5px;
  transition: all 0.2s ease-in-out 0;
  z-index: 999;
}
.dropdown-level2:hover .dropdown-content-level2{
  visibility: visible;
}
.collapse input{
  position: absolute;
  left: -100vw;
}
.collapse label{
  display: block;
  line-height: 30px;
}
.collapse .collapse-content{
  visibility: hidden;
  height: 0;
  transition: all 0s;
}
.collapse input:checked ~ .collapse-content{
  height: auto;
  visibility: visible;
  transition: all 0s;
}

