<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document abc</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header class="page-header">
    <section class="header-top">
      <div class="container">
        <ul class="row">
          <li class="col-medium-8 col-large-8 col-largest-8 logo flex-row">
            <a href="#"><img alt="" src="../images/logo.png"></a>
            <ul class="flex-col">
              <li><h1>SPECIALIZED CLINIC</h1></li>
              <li><p>Physiotherapy - Rehalibitation</p></li>
            </ul>
          </li>
          <li class="col-medium-4 col-large-4 col-largest-4 phone flex-row">
            <a href="#"><img alt="" src="../images/phone.png"></a>
            <p>Question for the Doctor? <span class="phone-number">05113941977</span></p>
          </li>
        </ul>
      </div>
    </section>
    <nav class="header-bottom">
      <div class="container">
        <div class="row">
          <ul class="main-menu col-medium-10 col-large-10 col-largest-10">
            <li class="menu"><a href="#">HOME</a></li>
            <li class="menu dropdown">
              <a href="#">ABOUT US</a>
              <ul class="dropdown-content">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </li>
            <li class="menu dropdown">
              <a href="#s">HEARTH SERVICES</a>
              <div class="dropdown-content flex-row">
                <ul>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                </ul>
                <ul>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                </ul>
                <ul>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                  <li><a href="#">SERVICES</a></li>
                </ul>
              </div>
            </li>
            <li class="menu dropdown">
              <a href="#">REGULAR MEDICCINE</a>
              <ul class="dropdown-content">
                <li class="dropdown-level2">
                  <a href="#">MEDICCINE1</a>
                  <ul class="dropdown-content-level2">
                    <li><a href="#">MEDICCINE</a></li>
                    <li><a href="#">MEDICCINE</a></li>
                    <li><a href="#">MEDICCINE</a></li>
                  </ul>
                </li>
                <li class="dropdown-level2">
                  <a href="#">MEDICCINE2</a>
                  <ul class="dropdown-content-level2">
                    <li><a href="#">MEDICCINE</a></li>
                    <li><a href="#">MEDICCINE</a></li>
                    <li><a href="#">MEDICCINE</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu"><a href="#">SET CALENDAR</a></li>
            <li class="menu"><a href="#">CONSULT & CONTACT</a></li>
          </ul>
          <ul class="menu-right col-medium-2 col-large-2 col-largest-2 flex-row">
              <li><div class="btn-icon"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div></li>
              <li><div class="btn-icon"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div></li>
              <li><div class="btn-icon"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></div></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="page-main">
    <section class="page-banner">
      <div class="container">
        <div class="row">
          <img alt="" src="../images/banner.jpg">
        </div>
      </div>
    </section>
    <section class="page-content">
      <div class="container">
        <div class="row">
          <aside class="page-suport col-medium-3 col-large-3 col-largest-3">
            <ul>
              <li class="collapse" style="cursor: pointer;">
                <input type="checkbox" name="collapse" id="handle1" checked="checked">
                <h2 class="handle">
                  <label for="handle1">ADULTS</label>
                </h2>
                <ul class="flex-col list collapse-content" >
                  <li><a href="#">Neck-schculder-hand pain</a></li>
                  <li><a href="#">Spinal pain</a></li>
                  <li><a href="#">Disc herniation</a></li>
                  <li><a href="#">Knee joint,hip joint</a></li>
                  <li><a href="#">Footsore</a></li>
                  <li><a href="#">Diseases of the muscles</a></li>
                  <li><a href="#">Peripheral neuropathy</a></li>
                  <li><a href="#">Sequelae of stroke</a></li>
                  <li><a href="#">Traumatic sequelae</a></li>
                </ul>
              </li>
              <li>
                <h2>CHILDREN</h2>
              </li>
              <li class="form">
                <h2><strong>BOOK SCHEDULE</strong></h2>
                <form class="form-groups flex-col" action="POST">
                  <input type="text" placeholder="Full Name">
                  <input type="text" placeholder="Address">
                  <input type="text" placeholder="Phone number">
                  <input type="text" placeholder="Time">
                  <button class="btn-send" type="submit">SEND</button>
                </form>
              </li>
            </ul>
          </aside>
          <div class="col-medium-9 col-large-9 col-largest-9 service">
            <ul class="flex-row">
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog-1.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog2.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog3.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
            </ul>
            <ul class="flex-row">
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog4.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog5.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog6.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
            </ul>
            <ul class="flex-row">
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog7.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog8.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
              <li class="block-service">
                <a href="#"><img alt="" src="../images/blog/blog9.jpg"></a>
                <h2>NECK SHOULDER PAIN</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a class="btn-blog" href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <section class="col-medium-4 col-large-4 col-largest-4">
            <h2>ABOUT US</h2>
            <ul>
              <li><a href="#">GENERAL INTRODUCTION</a></li>
              <li><a href="#">HUMAN</a></li>
              <li><a href="#">FACILITIES</a></li>
            </ul>
          </section>
          <section class="col-medium-4 col-large-4 col-largest-4">
            <h2>SUPPORT</h2>
            <ul>
              <li><a href="#">HEALTH COUNSELING</a></li>
              <li><a href="#">REGULAR MEDICINE</a></li>
              <li><a href="#">SCHEDULE APPOIMENTS</a></li>
            </ul>
          </section>
          <section class="col-medium-4 col-large-4 col-largest-4">
            <h2>SOCIAL CONNECTION</h2>
            <ul>
              <li><div class="btn-icon"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div><span>FACEBOOK</span></li>
              <li><div class="btn-icon"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>GOOGLE +</li>
              <li><div class="btn-icon"><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></div>YOUTUBE</li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <section class="footer-bottom">
      <ul class="flex-row">
        <li>@2018 - COPYRIGHT OF SPECIALIZED CLINIC</li>
        <li>DESIGN BY ####.COM</li>
      </ul>
    </section>
  </footer>
</body>
</html>
